.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5em;
  margin: 3rem auto;
  background-color: #fffff3;
  box-shadow: 0px 0px 8px #888;
  border-radius: 4px;
  font-weight: bold;
}
.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.x-score {
  color: #00d9c0;
  border-bottom: 5px solid #00d9c0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.o-score {
  color: #030301;
  border-bottom: 5px solid #030301;
  border-radius: 0 0.5rem 0.5rem 0;
}

.inactive {
  border-bottom: 5px solid transparent;
}

@media (max-width: 600px) {
  .scoreboard {
    width: 15rem;
    font-size: 1.5em;
    margin: 1rem auto;
  }
}
