* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #ff4365;
}

a {
  color: #ff4365;
  text-decoration: none;
}

footer {
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
